<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated siteWeb -->
      <package
            uri="https://github.com/M2TIIL2016-2017/SiteWeb/"
            class="siteWeb.SiteWebPackage"
            genModel="model/siteWeb.genmodel"/>
   </extension>

</plugin>
